body {
    background-color: #212121;
    color: white;
}

.header {
    text-align: center;
}

.container {
    margin-top: 50px;
}

#schemaLst {
    border: 1px solid #D1D1D1D1;
    border-radius: 2px;
}

#schemaLst li {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

#schemaLst li:last-child {
    border-bottom: none;
}

#exerciseBtn {
    display: flex;
    align-items: stretch;
}

#exerciseBtn button {
    flex-grow: 1;
    margin-left: 5px;
    margin-bottom: 20px;
}

#exerciseBtn button:first-child {
    margin-left: 0;
}

#calculate-RM * {
    text-align: center;
}

#calculate-RM {
    border: 1px solid white;
    border-radius: 2px;
    border-collapse: collapse;
}

.content-row-btn {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.content-row-btn:hover {
    background-color: rebeccapurple;
}

.content-row-btn.active {
    background-color: rebeccapurple;
}

#content {
    margin-top: 25px;
}

.schemalstItem {
    cursor: pointer;
}
